@model Domain.Footwear

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Footwear</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FootwearType.FootwearTypeValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FootwearType.FootwearTypeValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventory.InventoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventory.InventoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FootwearValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FootwearValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MadeBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MadeBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FootwearId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
